a{
    text-decoration: none;
    cursor: pointer;
}

body{
    background-color: #e6e9fb;
     font-family: sans-serif;
}
section{
    width:650px;
    height: 100%;
    margin:auto;
    box-sizing: border-box;
    padding: 50px;
    background-color:hsl(0, 0%, 100%);
    margin-top:7rem;
    border-radius: 15px;
    align-content: center;
}
.text-div{
    width: 500px;
}
.text-div > h1{
    font-size: 34px;
    color:rgb(1, 1, 59);
    font-weight: bolder;
}
.text-div p{
    font-weight: bold;
    font-size: 15px;
}
input{
    min-width: 350px;
    padding: 14px 10px;
    font-size: 15px;
    background-color: #f2f3f7;
    outline: none;
    border-radius: 5px;
    border: 1px solid #9e9fa0;
    margin: 10px 0px;
}
input.button{
    min-width: 100px;
    margin-left: 5px;
    background-color:rgb(1, 1, 59);
    border: 1px solid rgba(1, 1, 59);
    color: #fff;
}
form ~ h4{
    font-size:12px;
}
nav{
    padding: 15px 0px;
}
nav > a{
    padding: 20px;
    border-radius:5px;
    margin-top: 20px;
    margin-right: 3px;
    font-size: 12px;
}

a:first-of-type{
    background-color: rgba(204,144,184, .2);
    color: #cc90b8;
}
a:last-of-type{
    background-color: rgba(230,185,64, .2);
    color: #e69040;
}
a.business{
    color: #9162b6;
    background-color:rgba(145, 98, 182, .2) ;
}
a.portfolio{
    color:#67a357 ;
    background-color: rgba(103,163,87, .2);
}
